.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 580px;
    max-width: 100%;
}

form {
    background-color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
    border: 1px solid #e0dbdb;
    border-radius: 8px;
    box-shadow: 0 1px 35px rgba(0, 0, 0, 0.02), 0 7px 15px rgba(0, 0, 0, 0.15);
}

.form-control {
	border: none;
	padding: 12px 2px;
	margin: 8px 0;
	width: 100%;
    border-bottom: 1px solid #808080;
}

.is-invalid {
    border: 1px solid #dc3550;
    border-radius: 2px;
}

.is-invalid:focus {
    outline: 2px solid #f6ccd0;
}

.invalid-feedback {
    font-style: italic;
    color: #dc3550;
}

.valid-feedback {
    font-style: italic;
    color: #2c934c;
}

.inner-input {
    display: flex;
    flex-direction: row;
    margin: 25px 0 8px;
    justify-content: space-between;
    align-items: center;
}

.inner-input :first-child {
    width: 20px;
    height: 15px;
}

.inner-input :nth-child(2) {
    width: 65%;
    font-weight: 500;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 50px;
}

.back_bt {
    background-color: #ece9e9;
    color: #808080;
    font-size: 13.33px;
    box-shadow: 0px 4px 12px -6px rgba(66, 68, 90, 1);
    transition: all ease 0.2s;
    text-decoration: none;
    padding: 13px 60px;
    border-radius: 2px;
    margin-left: 20px;
    font-family: "Arial";
}

.reset_bt,
.sign-in_bt,
.sign-up_bt {
    width: 150px;
	border: 1px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #fff;
	padding: 12px 45px;
	letter-spacing: 1px;
    border-radius: 2px;
    box-shadow: 0px 4px 12px -6px rgba(66, 68, 90, 1);
    transition: all ease 0.2s;
}

.reset_bt:hover,
.sign-in_bt:hover,
.sign-up_bt:hover,
.back_bt:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 10px 20px 2px rgba(104, 68, 68, 0.22);
}

.inner-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.inner-label :first-child {
    margin-right: 7px;
}

.sign_link,
.forgot-password_link {
    text-decoration: none;
}