/***   FORM   ***/

.form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 35px;
    border: 1px solid #e0dbdb;
    border-radius: 8px;
    box-shadow: 0 1px 35px rgba(0, 0, 0, 0.02), 0 7px 15px rgba(0, 0, 0, 0.15);
    width: 518px;
    max-width: 100%;
}

.form-control {
    border: none;
    padding: 12px 0 12px 2px;
    margin: 8px 0;
    width: 100%;
    border-bottom: 1px solid #808080;
}

/***   FORM VALIDATION   ***/

.is-invalid {
    border: 1px solid #dc3550;
    border-radius: 2px;
}

.is-invalid:focus {
    outline: 2px solid #f6ccd0;
}

.invalid-feedback {
    font-style: italic;
    color: #dc3550;
}

.valid-feedback {
    font-style: italic;
    color: #2c934c;
}

/***   INNER SIGN IN   ***/

.inner-signin {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.remember-me {
    cursor: pointer;
}

.remember-me :first-child {
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
}

.inner-signin :first-child {
    height: 17px;
    display: flex;
    flex-direction: row-reverse;
    font-weight: 500;
    margin-left: 0;
    padding: 16px 0 16px;
}

/***   BUTTONS   ***/

.signin-btn-container,
.signup-btn-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.signup-btn-container,
.password-reset-btn-container {
    margin-top: 30px;
}

.signin-btn-container {
    margin-top: 10px;
}

.back-btn {
    background-color: #ece9e9;
    color: #808080;
    font-size: 13.33px;
    box-shadow: 0px 4px 12px -8px rgba(66, 68, 90, 1);
    transition: all ease 0.2s;
    text-decoration: none;
    padding: 17px 60px;
    border-radius: 2px;
    margin-left: 40px;
    font-family: "Arial";
}

.reset-btn,
.signin-btn,
.signup-btn {
    width: 150px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #fff;
    padding: 16px 45px;
    letter-spacing: 1px;
    border-radius: 2px;
    box-shadow: 0px 4px 12px -6px rgba(66, 68, 90, 1);
    transition: all ease 0.2s;
}

.reset-btn:hover,
.signin-btn:hover,
.signup-btn:hover,
.back-btn:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 17px 32px -20px rgba(66, 68, 90, 1);
}

/***   LINKS   ***/

.create-account-link,
.signin-link {
    display: flex;
    flex-direction: row;
    margin: 7px 0 12px;
    align-items: baseline;
}

.create-account-link :first-child {
    margin: 16px 10px 0 0;
}

.sign-link,
.forgot-password-link {
    text-decoration: none;
    padding: 14px 0 14px;
    color: #0055f2;
}

/*** MEDIA QERIES   ***/

@media only screen and (max-width: 319px) {
    form h2 {
        font-size: 1.3em;
    }
}


@media only screen and (max-width: 413px) {
    .inner-signin {
        flex-direction: column;
        align-items: flex-start;
    }
}


@media only screen and (max-width: 445px) {
    .create-account-link,
    .signin-link,
    .signin-btn-container,
    .signup-btn-container {
        flex-direction: column;
        align-items: center;
    }

    .signup-btn,
    .signin-btn,
    .reset-btn {
        margin-bottom: 35px;
        width: 100%;
    }

    .back-btn {
        width: 100%;
        margin: 0;
        padding: 17px 0;
        display: block;
        text-align: center;
    }

    .create-account-link :first-child {
        margin-right: 0;
    }
}