/***   DASHBOARD   ***/

.dashboard {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

/***   NAV AND MAIN ***/

.nav-and-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f2f2f2;
    height: 100vh;
}

.top-nav {
    overflow: hidden;
    background-color: #f74f4f;
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.drawer-control {
    cursor: pointer;
}

.drawer-control img {
    padding: 21.5px 25px;
    width: 27px;
}

.user-status {
    margin: 10px 18px 0 0;
    cursor: pointer;
}

.user-status img {
    padding: 7px;
}

.main h2 {
    margin: 45px 0 0 60px;
}

/***   SIDENAV   ***/

.menu-header h2 {
    color: #726a72;
    font-weight: 500;
    font-size: 1.9em;
    margin: 14px 0 14px 25px;
}

.menu.hide {
    width: 0px;
    overflow: auto;
    transform: translate(-180px,0);
    transition: all .3s ease-in-out;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1);
}
  
.menu {
    height: 100vh;
    width: 300px;
    transition: 0.3s ease-in-out;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    font-weight: 500;
    font-size: 1.2em;
    padding: 40px 27px 0;
}

/***   USER DROP DOWN   ***/
  
.user-drop-down.hide {
    width: 0px;
    overflow: auto;
    margin-right: -10px;
}

.user-drop-down {
    background: #fff;
    border-radius: 3px;
    position: absolute;
    width: 240px;
    max-width: 100%;
    top: 80px;
    right: 0;
    -webkit-box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%);
    margin-right: 20px;
    word-break: break-all;
}

.user-info,
.user-profile,
.user-logout {
    display: flex;
    flex-direction: row;
}

.user-links {
    display: flex;
    flex-direction: column;
}

.user-profile,
.user-logout {
    text-decoration: none;
    color: black;
    margin: 20px 0 15px;
}

.user-logout {
    margin: 15px 0 20px;
}

.user-info img,
.user-icon,
.user-logout-icon {
    margin: 0 10px 0 20px;
}

.user-info img {
    margin-top: 10px;
}

hr {
    border-top: #302c2b;
    margin-bottom: 0;
}

.invalid-logout {
    font-style: italic;
    color: #dc3550;
    margin-left: 20px;
    padding-top: 5px;
}

/***   MEDIA QERIES   ***/

@media only screen and (max-width: 374px) {
    .menu-header h2 {
        text-align: center;
        margin-left: 0;
    }
}


@media only screen and (max-width: 480px) {
    .drawer-control img {
        padding: 23px 25px;
        width: 24px;
    }

    .user-status img {
        padding: 7px;
        width: 37px;
    }
    
    .menu-header h2 {
        font-size: 1.42em;
        margin-bottom: 22px;
        margin-top: 16px;
    }

    .menu-items li {
        font-size: 1em;
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .menu-header h2 {
        font-size: 1.66em;
        margin-bottom: 19px;
    }

    .menu-items li {
        font-size: 1.05em;
    }
}


@media only screen and (max-width: 768px) {
    .menu-items li {
        padding-left: 25px;
        padding-right: 25px;
    }
}
