/***   DASHBOARD   ***/

.figures-wrapper {
    display: flex;
}

/***   NAV   ***/

nav {
    display: flex;
    width: 100%;
}

.top-nav {
    background-color: #f74f4f;
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/***   MAIN CONTENT   ***/

main {
    width: calc(100vw - 300px);
    position: fixed;
    top: 70px;
    left: 300px;
    height: calc(100vh - 70px);
    background-color: #f2f2f2;
    transition: all 0.3s ease-in-out;
}

main.full-width {
    width: 100vw;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.main h2 {
    margin: 45px 0 0 60px;
}

.dashboard h2 {
    margin: 45px 0 0 60px;
}

.drawer-control {
    cursor: pointer;
    background-color: #f74f4f;
    border: none;
}

.drawer-control img {
    padding: 21.5px 25px;
    width: 27px;
}

.user-account {
    list-style: none;
    width: 77px;
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-status img {
    padding: 7px 0;
    width: 44px;
    height: 40px;
}

.dropdown-caret {
    border-style: solid;
    border-width: 6px 6px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    color: white;
}

/***   SIDENAV   ***/

.menu-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: baseline;
    background-color: #fff;
}

.menu-header h2 {
    color: #726a72;
    font-weight: 500;
    font-size: 1.9em;
    margin: 14px 0 0 25px;
}

.close-btn {
    padding: 19px;
    cursor: pointer;
    border: none;
    background-color: white;
    visibility: hidden;
}

.menu.hide {
    width: 0px;
    overflow: auto;
    transform: translate3d(-300px, 0px, 0px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1);
}

.menu {
    height: 100vh;
    width: 300px;
    transition: all 0.3s ease-in-out;
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.figures-link {
    font-weight: 500;
    font-size: 1.2em;
    padding: 20px 27px;
    text-decoration: none;
    color: #302c2b;
}

.figures-link:hover {
    background-color: #f2f2f2;
}

/***   DROP DOWN MENU   ***/

.drop-down-menu.hide {
    width: 0px;
    overflow: auto;
    margin-right: -10px;
}

.drop-down-menu {
    background: #fff;
    border-radius: 3px;
    position: absolute;
    width: 240px;
    max-width: 100%;
    top: 80px;
    right: 0;
    -webkit-box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%);
    margin-right: 20px;
    word-break: break-all;
    z-index: 1;
    padding: 0;
}

.current-user,
.drop-down-item {
    display: flex;
    flex-direction: row;
}

.current-user {
    align-items: center;
}

.drop-down-items {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.drop-down-item {
    text-decoration: none;
    color: black;
    padding: 20px 0 15px;
}

.drop-down-item:hover {
    background-color: #f2f2f2;
}

.current-user img,
.user-icon,
.user-logout-icon {
    margin: 0 10px 0 20px;
}

.current-user img {
    margin-top: 10px;
}

hr {
    border-top: #302c2b;
    margin: 0 0 10px 0;
}

.invalid-logout {
    font-style: italic;
    color: #dc3550;
    margin-left: 20px;
    padding-top: 5px;
}

/***   MEDIA QERIES   ***/

@media only screen and (max-width: 480px) {
    .drawer-control img {
        padding: 23px 25px;
        width: 24px;
    }

    .user-status img {
        padding: 7px;
        width: 37px;
    }

    .menu-header h2 {
        font-size: 1.42em;
        margin-top: 16px;
        width: 80%;
    }

    .menu-items li {
        font-size: 1em;
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .menu-header h2 {
        font-size: 1.66em;
    }

    .menu-items li {
        font-size: 1.05em;
    }
}


@media only screen and (max-width: 550px) {
    .menu {
        height: 100vh;
        width: 100%;
        position: fixed;
        left: 0;
    }

    .close-btn {
        visibility: visible;
    }

    .close-icon {
        background-image: url("../../images/close.svg");
        background-repeat: no-repeat;
        padding: 6px;
    }

    main {
        visibility: hidden;
    }

    main.full-width {
        visibility: visible;
    }
}


@media only screen and (max-width: 768px) {
    .menu-items li {
        padding-left: 25px;
        padding-right: 25px;
    }
}