.box {
    height: calc(100% - 60px);
    margin-top: 60px;
    flex: 1 1 auto;
    display: flex;
}

.grid {
    height: 400px;
    width: 100%;
}

.button-container {
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.action-search-btn {
    width: 50%;
    display: flex;
    align-items: center;
}

.button-group {
    width: 150px;
    height: 48px;
    margin: 0 30px 0 17px;
    border-radius: 4px;
}

input {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #c4c4c4;
    padding-left: 2%;
    font-size: 1rem;
}

button.action-btn:not(:last-of-type),
.action-btn:hover {
    background-color: #ff3547;
    color: #fff;
    border-right: 1px solid #e72939 !important;
    min-width: 110px;
}

button.action-btn.disabled:not(:last-of-type),
.action-btn.disabled:hover {
    background-color: #f2f5f8;
    border: 1px solid #ff3547;
    color: #83909d;
}

button.drop-action-btn,
button.drop-action-btn:hover {
    background-color: #ff3547;
}

button.add-figure-btn {
    border: 1px solid;
    border-radius: 4px;
    width: 150px;
    height: 48px;
    background-color: #ff3547;
    color: #fff;
    margin-right: 17px;
}

button.add-figure-btn:hover {
    background-color: #ff3547;
}

span.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
span.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #ff3547;
}

@media only screen and (max-width: 890px) {
    .button-container {
        width: 62%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .action-search-btn {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .button-group {
        width: 100%;
        height: 48px;
        margin: 0;
    }

    .action-btn {
        width: 100%;
    }

    input {
        width: 97.2%;
        margin: 17px 0;
    }

    button.add-figure-btn {
        width: 100%;
        margin: 0 0 17px;
    }
}