/***   IMAGE   ***/

.home-image {
    background: url("../../images/home-page.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/***   TITLE   ***/

.title-and-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}

.title h1 {
    font-family: "Montserrat", sans-serif;
    color: #726a72;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/***   BUTTONS   ***/

.home-btn-container {
    justify-content: center;
    display: flex;
    width: 100%;
}

.btn-list {
    width: 170px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
}

.demo-btn,
.home-signin-btn,
.home-signup-btn {
    border-radius: 2px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 20px;
    letter-spacing: 1px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%);
    transition: all ease 0.2s;
    text-decoration: none;
    margin-top: 40px;
}

.demo-btn:hover,
.home-signin-btn:hover,
.home-signup-btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/***   MEDIA QERIES   ***/

@media only screen and (max-width: 359px) {
    .title h1 {
        font-size: 2.5em;
    }
}


@media only screen and (min-width: 359px) and (max-width: 411px) {
    .title h1 {
        font-size: 3.1em;
    }
}


@media only screen and (min-width: 412px) and (max-width: 767px) {
    .title h1 {
        font-size: 3.4em;
    }
}


@media only screen and (max-width: 767px) {
    .home-image {
        background-image: none;
        background-color: #c9ece5;
    }

    .title h1 {
        color: black;
    }

    .btn-list {
        width: 320px;
        max-width: 100%;
        padding: 0 35px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-list {
        font-size: 16px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .title h1 {
        color: #fdf4a7;
        font-weight: bolder;
    }

    .title h1 {
        font-size: 3.5em;
        margin-bottom: 0;
    }

    .title-and-btn {
        height: 100vh;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .title h1 {
        font-size: 3.8em;
        margin-left: 40px;
        color: #fdf4a7;
        font-weight: bolder;
    }

    .title-and-btn {
        height: 100vh;
    }
}


@media only screen and (min-width: 1281px) {
    .title h1 {
        font-size: 3.8em;
        margin-left: 20px;
    }

    .title {
        background-position: -110px 40%;
    }

    .btn-list {
        margin-right: 30px;
    }

    .home-image {
        background-position: 120px 0px;
    }

    .title {
        background-image: url("../../images/splash.svg");
        background-repeat: no-repeat;
        display: flex;
        height: 170px;
        background-position: -95px 40%;
    }

    .title-and-btn {
        width: 40%;
    }
}


@media only screen and (min-width: 1360px) and (max-width: 1366px) {
    .home-image {
        background-position: 120px -40px;
    }
}


@media only screen and (min-width: 1367px) {
    .home-image {
        background-position: 120px 0px;
    }

    .title h1 {
        font-size: 4.5em;
        margin-left: 20px;
    }
}