.home-page-container {
    display: flex;
    flex-direction: column;
}

.home-page-image {
    position: fixed; 
    top: 0; 
    left: 12%;
    min-width: 100%;
    min-height: 100%;
}

.title {
    background-image: url('../../images/splash.svg');
    background-repeat: no-repeat;
    z-index: 1;
    background-position: -5% 95%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    margin-top: 250px;
    font-size: 5em;
    margin-left: 70px;
    color: #726a72;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
/*     
    background-color: #4e4d4d;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px; */
}

.buttons-container {
    z-index: 1;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 300px;
}

.home-page_sign-in,
.home-page_sign-up,
.home-page_demo {
    width: 175px;
    border-radius: 8px;
	border: 1px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all ease 0.2s;
}

.home-page_sign-in:hover,
.home-page_sign-up:hover,
.home-page_demo:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}